<div id="sidebar">
    <ul>
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/admin/post">Đăng bài</a></li>
        <li><a href="/admin/userManage">Quản lý người dùng</a></li>
        <li><a href="/admin/postManage">Quản lý bài đăng User</a></li>
        <li><a href="/admin/logout">Đăng xuất</a></li>
        <li><a href="/">Trở về trang chủ</a></li>
    </ul>
</div>