{{#if message}}
<p>{{message}}</p>
{{else}}
<p>Có lỗi gì đã xảy ra và tôi cũng bó tay!</p>
{{/if}}
<p>vui lòng <a href="mailto:admin@gmail.com">liên hệ admin</a> để có thể được xử lí</p>
<a href="/auth">Đăng nhập bằng 1 tài khoản khác</a>